.content {
    max-width: 500px;
    margin: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgreen;
    color: white;
    text-align: center;
}

#planeBackground{
    background-image: url("http://www.pptbackgrounds.org/uploads/flight-airplane-cloud-and-sun-ray-backgrounds-wallpapers.jpg");
}