<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>

<div th:replace="base :: navlinks"></div>

<div class="jumbotron jumbotron-fluid" style="background-color: white">
    <div class="container">
        <h1 class="display-4 text-center">Flight Form</h1>
        <p class="lead text-center">Fill out the form and submit!.</p>
    </div>
</div>
<div class="container">
    <div class="col-2"></div>
    <div class="col-8 content">
        <form action="#" th:action="@{/process}" th:object="${flight}" method="post"
              enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{image}" />
            <input type="hidden" th:field="*{id}" />
            <span th:if="${#fields.hasErrors('id')}"
                  th:errors="*{id}"></span>
            Departing Aiport :<input class="form-control" type="text" th:field="*{departingAirport}"/>
            <span th:if="${#fields.hasErrors('departingAirport')}"
                  th:errors="*{departingAirport}"></span><br />
            Arriving Airport :<input class="form-control" type="text" th:field="*{arrivingAirport}" />
            <span th:if="${#fields.hasErrors('arrivingAirport')}"
                  th:errors="*{arrivingAirport}"></span><br />
            Flight Type :<input class="form-control" type="text" th:field="*{type}" />
            <span th:if="${#fields.hasErrors('type')}"
                  th:errors="*{type}"></span><br />
            Price :<input class="form-control" type="text" th:field="*{price}" />
            <span th:if="${#fields.hasErrors('price')}"
                  th:errors="*{price}"></span><br />
            Date :<input class="form-control" type="date" th:field="*{date}" />
            <span th:if="${#fields.hasErrors('date')}"
                  th:errors="*{date}"></span><br />
            Flight Number :<input class="form-control" type="text" th:field="*{flightNumber}" />
            <span th:if="${#fields.hasErrors('flightNumber')}"
                  th:errors="*{flightNumber}"></span><br />
            Image :<input type="file" name="file"/>
            <br />
            <input type="submit" value="Submit" />
        </form>

    </div>
    <div class="col-2"></div>
</div>
<div th:replace="base :: footer"></div>
</body>
</html>